*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

:root{
    --Red: #ea5353;
     --Cyan: #45d3d3;
      --Orange: #fcaf4a;
       --Blue: #549ef2;
        /* ### Neutral  */
        --Very-Dark-Blue: #4c4e61;
         --Grayish-Blue: #a3a5ae;
          --Very-Light-Gray: hsl(0, 0%, 98%);
}